body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

@media (max-width: 480px) {
  body {
    font-size: 18px;
  }
}
